.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-body {
  color:white;
  background-color:black;
  display: flex;
}

th {
  align-items: center;
  justify-content: center;
}